*{box-sizing:border-box;}

body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#ffb190;
  font-family:sans-serif;
}

.scene{
  display:flex;
  gap:40px;
  transform:rotate(-10deg);
}

.calculator{
  width:200px;
  height:360px;
  background:#ff8f6a;
  border-radius:25px;
  padding:15px;
  box-shadow:0 25px 40px rgba(0,0,0,.25),
  inset -4px -4px 10px rgba(0,0,0,.15),
  inset 4px 4px 10px rgba(255,255,255,.3);
}

.screen{
  height:45px;
  background:#333;
  color:#0f0;
  border-radius:8px;
  margin-bottom:12px;
  padding:8px;
  text-align:right;
  font-size:18px;
}

.keys{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
}

.keys span{
  display:flex;
  justify-content:center;
  align-items:center;
  height:30px;
  background:#ff9c7c;
  border-radius:50%;
  cursor:pointer;
  font-size:12px;
  font-weight:bold;
  box-shadow:
    inset -2px -2px 4px rgba(0,0,0,.2),
    inset 2px 2px 4px rgba(255,255,255,.4),
    0 4px 6px rgba(0,0,0,.25);
}

.keys span:active{
  transform:scale(0.9);
}

.cover{
  width:200px;
  height:360px;
  background:#ff8f6a;
  border-radius:25px;
  box-shadow:
    0 25px 40px rgba(0,0,0,.25),
    inset -5px -5px 10px rgba(0,0,0,.15),
    inset 5px 5px 10px rgba(255,255,255,.3);

  background-image:repeating-linear-gradient(
    90deg,
    rgba(255,255,255,.15) 0px,
    rgba(255,255,255,.15) 4px,
    transparent 4px,
    transparent 10px
  );
}
